In [8]:
data = {
    "id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 22],
    "city": ["Delhi", "Mumbai", "Bangalore"],
    "gender": ["F", "M", "M"]
    
}
#1. print detais of person having minimum age
min_age=  min(data["age"])
idx= data["age"].index(min_age)
for row in data:
              print(data[row][idx])

#2. print details of two index
for row in data:
    print(data[row][:2])

#3. take user input name and print details of him
input_name=input("Enter name")
if input_name in data["name"]:
    idx= data["name"].index(input_name)
    for row in data:
        print( data[row][idx])

3
Charlie
22
Bangalore
M
[1, 2]
['Alice', 'Bob']
[25, 30]
['Delhi', 'Mumbai']
['F', 'M']

Enter name Bob

2
Bob
30
Mumbai
M

In [3]:
 #  datatype Error - TypeErr
## input column is callled featurs
## output column is called label

## create a dict with attribute name, age ,city, occupation, salary
# 1. find the person of highest salary 
# 2. print the name of all person who age is greater than 25
# 3. find the occupation of person with the name entered by user
# 4. calculate the average age of all the employees
# 5. name the cities where person with salary more than 50000 are living.
# 6. cal the total salary of all individuals
# 7. get the name of persons who lives in delhi and bangalore



data = {
   
    "name": ["Satyam", "Vishal", "Himanshu", "Sahil", "Prince"],
    "age": [25, 30, 22,45,18],
    "city": ["Delhi", "Mumbai", "Bangalore", "Lucknow", "Varanasi"],
    "occupation":[" Engineer", "Doctor", "Teacher", "farmer", "Soldier"],
    
    "salary":[70000, 80000,50000,40000, 90000]
}

#1
highest_salrary= max( data["salary"])
highest_salrary_idx= data["salary"].index(highest_salrary)
for row in data:
    print (row,": ", data[row][highest_salrary_idx])


#2.
print("\n")
print("Question 2")
list = []
for i in data["age"]:
    if i> 25:
        list.append(i)

for i in list:
    index= data["age"].index(i)
    print(data["name"][index])

#3.
print("\n")
print("Question 3")
input_occ = input("Enter occupation of person")
if input_occ in data["occupation"]:
    index= data["occupation"].index(input_occ)
    print(data["name"][index])
else:
    print("enter proper occupation")


#4.
print("\n")
print("\n")
print("Question 4")
tot_age=0
for i in data["age"]:
    tot_age += i;

print("Average age ", tot_age/ len (data["age"]))


#5
print("\n")
print("Question 5")
# list1 = []
# for i in data["salary"]:
#     if i> 50000:
#         list1.append(i)

# for i in list1:
#     index= data["salary"].index(i)
#     print(data["city"][index])


for salary, city in zip(data["salary"], data["city"]):
    if salary > 50000:
        print(city)



#6
print("\n")
print("Question 6")
tot_sal=0
for i in data["salary"]:
    tot_sal+= i

print ("total salary", tot_sal)


#7


print("\n")
print("Question 7")
list2=[]
for i in data["city"]:
    if i == "Delhi" or i == "Bangalore":
        list2.append(i)

for i in list2:
    index= data["city"].index(i)
    print(data["name"][index])

name :  Prince
age :  18
city :  Varanasi
occupation :  Soldier
salary :  90000


Question 2
Vishal
Sahil


Question 3

Enter occupation of person h

enter proper occupation




Question 4
Average age  28.0


Question 5
Delhi
Mumbai
Varanasi


Question 6
total salary 330000


Question 7
Satyam
Himanshu

In [2]:
# zip(data["salary"], data["city"])
print(data["name"])

NameError: name 'data' is not defined